[submodule "src/hrp"]
	path = src/hrp
	url = https://github.com/HusqvarnaResearch/hrp.git
[submodule "src/imu_tools"]
	path = src/imu_tools
	url = https://github.com/ccny-ros-pkg/imu_tools.git
[submodule "src/leap_motion"]
	path = src/leap_motion
	url = https://github.com/ros-drivers/leap_motion.git
[submodule "src/mqtt_ros_bridge"]
	path = src/mqtt_ros_bridge
	url = https://github.com/EmaroLab/mqtt_ros_bridge.git
